a:hover {
  cursor: pointer;
}
header {
  width: 89.2%;
  margin: auto;
  padding-top: 10px;
}
header nav {
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header nav a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
header nav .theBrand:hover {
  cursor: pointer;
}
header nav .theLinks {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header nav .theLinks .theLinksList {
  list-style: none;
  margin-top: 0;
  padding-right: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
header nav .theLinks .theLinksList .theLink {
  margin-left: 50px;
  padding-bottom: 7px;
}
header nav .theLinks .theLinksList .theLink a {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 5px solid white;
}
header nav .theLinks .theLinksList .theLink a:hover {
  border-bottom: 5px solid black;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
header nav .theLinks .theLinksList .theLink .selected {
  border-bottom: 5px solid black;
}
.initialSection {
  width: 89.2%;
  margin: auto;
  margin-top: 80px;
  position: relative;
}
.initialSection:hover .theBanner {
  opacity: 1;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
.initialSection img {
  width: 100%;
}
.initialSection .theBanner {
  text-align: center;
  position: absolute;
  padding-top: 15%;
  padding-bottom: 10%;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.initialSection .theBanner p {
  font-size: 90px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Open Sans";
  letter-spacing: 7.9px;
  text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
  display: inline;
}
.initialSection .theBanner p:hover {
  cursor: pointer;
}
.initialSection .theBanner p a {
  color: #ffffff;
  text-decoration: none;
}
.gallery {
  width: 89.2%;
  margin: auto;
  font-family: "Open Sans";
}
.gallery .first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  margin: 10px 0;
}
.gallery .first .info {
  padding-top: 19px;
}
.gallery .first .info h2 {
  font-size: 60px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  width: 75%;
}
.gallery .first .info p {
  font-family: "Open Sans";
  font-size: 15px;
  width: 75%;
  margin-top: 45px;
  margin-bottom: 35px;
  line-height: 30px;
}
.gallery .first .info a {
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 50px;
  color: #000000;
}
.gallery .first .imgInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery .first .imgInfo p {
  text-align: right;
  margin: 0px;
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: bolder;
}
.gallery .first .imgInfo img {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 542px;
}
.gallery .galleryCenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gallery .galleryCenter .second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery .galleryCenter .second p {
  font-size: 25px;
  font-weight: bolder;
  margin: 0;
  width: 75%;
}
.gallery .galleryCenter .second h2 {
  font-weight: bolder;
  font-size: 79px;
  letter-spacing: 7.9px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 0;
}
.gallery .galleryCenter .second img {
  max-width: 542px;
}
.gallery .galleryCenter .third {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.gallery .galleryCenter .third h2 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: right;
  margin-top: 25px;
  font-weight: 700;
}
.gallery .galleryCenter .third h2 span {
  font-size: 60px;
}
.gallery .galleryCenter .third .thirdDescription {
  width: 80%;
  margin-right: 13%;
  margin-bottom: 36px;
  line-height: 30px;
}
.gallery .galleryCenter .third a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  margin-right: 76.5%;
  margin-bottom: 50px;
}
.gallery .galleryCenter .third .thirdDate {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
}
.gallery .galleryCenter .third img {
  max-width: 542px;
}
.newsletter {
  font-family: 'Open Sans';
  width: 89.2%;
  margin: 100px auto;
  position: relative;
  text-align: center;
}
.newsletter h2 {
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 20px;
}
.newsletter button {
  text-transform: uppercase;
  padding: 10px 40px;
  border: 1px solid transparent;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}
.newsletter button:hover span:after {
  opacity: 1;
  margin-left: 3px;
}
.newsletter button:active {
  color: #000;
  border: 1px solid black;
}
.newsletter button span:after {
  font-family: 'fontawesome';
  content: '\f090';
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
  color: red;
}
.newsletter img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.informations {
  width: 89.2%;
  margin: auto;
  font-family: 'Open Sans';
  text-align: center;
}
.informations ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.informations ul li {
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
.informations ul li:after {
  content: "–";
  margin-left: 30px;
}
.informations ul li:last-child::after {
  content: "";
}
.informations p {
  width: 80%;
  margin: 58px auto;
  line-height: 30px;
  font-size: 15px;
}
.categories {
  width: 89.2%;
  margin: auto;
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}
.categories h3 {
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 25%;
  text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
  color: #ffffff;
  font-weight: bolder;
  font-size: 5rem;
  letter-spacing: 7.9px;
  line-height: 87.8px;
}
.categories .mei {
  position: relative;
}
.categories .mei img {
  width: 100%;
}
.categories .cibo {
  position: relative;
}
.categories .cibo img {
  width: 100%;
}
.categories .eum {
  position: relative;
}
.categories .eum img {
  width: 100%;
}
.testimonials {
  width: 89.2%;
  margin: auto;
  font-family: 'Open Sans';
  margin-bottom: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.testimonials .imgArticle {
  padding-top: 7px;
}
.testimonials .imgArticle img {
  width: 100%;
}
.testimonials .contentArticle {
  width: 53.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.testimonials .contentArticle h2 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: right;
  margin-top: 0;
  width: 85%;
}
.testimonials .contentArticle h2 span {
  font-size: 60px;
}
.testimonials .contentArticle p {
  font-size: 15px;
  line-height: 30px;
  width: 85%;
  margin-right: 6%;
}
.testimonials .contentArticle a {
  margin-right: 70.5%;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
footer {
  width: 89.2%;
  margin: auto;
  padding-bottom: 50px;
  font-family: 'Open Sans';
}
footer .fastLinks ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  width: 80%;
  margin: auto;
}
footer .fastLinks ul li {
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
footer .fastLinks ul li:after {
  content: "–";
  margin-left: 30px;
}
footer .fastLinks ul li:first-child {
  padding-left: 0;
}
footer .fastLinks ul li:last-child::after {
  content: "";
}
footer .fastLinks ul li a {
  text-decoration: none;
  color: #000;
}
footer p {
  width: 80%;
  margin: 50px auto;
  font-size: 15px;
  line-height: 30px;
}
footer .socialMedia ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .socialMedia ul li {
  margin: 0 10px;
  font-size: 35px;
  color: #fff;
}
footer .socialMedia ul li:hover {
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
footer .socialMedia ul li .fa-facebook {
  background: #1b488f;
  padding: 4px 12px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
footer .socialMedia ul li .fa-facebook:hover {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
footer .socialMedia ul li .fa-twitter {
  background: #209dde;
  padding: 4px 6px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
footer .socialMedia ul li .fa-twitter:hover {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
footer .socialMedia ul li .fa-youtube {
  background: #f6322f;
  padding: 4px 7px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
footer .socialMedia ul li .fa-youtube:hover {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
footer .socialMedia ul li .fa-dribbble {
  background: #f75795;
  padding: 4px 6px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
footer .socialMedia ul li .fa-dribbble:hover {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
footer .socialMedia ul li .fa-instagram {
  background: #2a6c97;
  padding: 4px 6px 4px 7px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
footer .socialMedia ul li .fa-instagram:hover {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
